<section id="sitemap">
    
    <div class="map-section">
        <h4>Mission</h4>
        
        <p>
            Our mission is to provide a service to empower our clients with fast solutions to impact the right target audience.
        </p>
        
    </div>

    <div class="map-section">
        <h4>Vision</h4>
        
        <p>
            Become a known company in website and marketing development area and expand worldwide providing top solutions.  
        </p>
    </div>

    <div class="map-section">
        <h4>Social</h4>
        
        <a href="#">Linkedin</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
    </div>

</section>

<div style="padding: 1%; display: flex; align-items: center; justify-content: center;">
    <p>
        Copyrights &copy; REALIT Solutions All rights reserved
    </p>
</div>