<section id="sitemap">
    
    <div class="map-section">
        <img src="../../../assets/pngs/brand-initial.png" alt="REALIT brand" style="background-color: white;">
    </div>
    
    <div class="map-section">
        <h4>section 01</h4>
        
        <a href="#">ssd</a>
        <a href="#">ma-3</a>
        <a href="#">dasd</a>
        <a href="#">vsads</a>
    </div>

    <div class="map-section">
        <h4>section 01</h4>
        
        <a href="#">ssd</a>
        <a href="#">ma-3</a>
        <a href="#">dasd</a>
        <a href="#">vsads</a>
    </div>

    <div class="map-section">
        <h4>section 01</h4>
        
        <a href="#">ssd</a>
        <a href="#">ma-3</a>
        <a href="#">dasd</a>
        <a href="#">vsads</a>
    </div>

</section>

<div style="padding: 1%; display: flex; align-items: center; justify-content: center;">
    <p>
        Copyrights &copy; REALIT Solutions All rights reserved
    </p>
</div>