<div class="jumbotron">
    <div class="jumboTitle">
        <h1>
            Social Media Marketing
        </h1>
        <h3>
            The world's fastest way to get your product in the hand of your client is using the internet. Need help to improve your sells and visibility on the web? 
        </h3>

        <div class="jumboBtn">
            <button nz-button nzType="default">
                Get in touch
            </button>
        </div>
    </div>

    <div class="jumboImg">
        <img src="../../../assets/svg/marketing.svg" alt="marketing" width="100%">
    </div>
</div>

<section id="examples">
    <app-examples></app-examples>
</section>

<section id="prices">
    <app-prices></app-prices>
</section>
