<div class="display">
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
    <div class="tab">
        <img src="../../../../assets/pngs/inst-ads.png" alt="ads" width="100%">
    </div>
</div>