<div>
    <h2>
        Features
    </h2>
</div>

<div nz-row>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        newest technologies
    </div>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        responsiviness
    </div>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        user friendly
    </div>

    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        SEO
    </div>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        Copyrighting
    </div>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        Agile methodology
    </div>

    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        email template
    </div>
    <div class="features" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
        more
    </div>
</div>