<!-- <nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="#">
        <img src="" alt="">
        <h1>Schedule</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow: auto;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout> -->

<nz-drawer
    [nzClosable]="false"
    [nzVisible]="visible"
    nzPlacement="right"
    [nzTitle]="brand"
    (nzOnClose)="close()"
    [nzBodyStyle]="{padding: 0}"
  >
    <nav class="navigation-drawer">
      <ul>
        <li (click)="close()">HOME</li>
        <li (click)="close()">ABOUT</li>
        <li (click)="close()">FEATURES</li>
        <li (click)="close()">CONTACT</li>
      </ul>
    </nav>
  </nz-drawer>

  <ng-template #brand>
    <div style="text-align: center; ">
      <img src="../assets/pngs/brand.png" width="70%" alt="brand" style="background-color: white; ">
    </div>
  </ng-template>


<nz-layout>
  <nz-header style="position: fixed; background-color: white; display: flex; align-items: center; justify-content: space-between; padding: 0 15px">
    <div style="display: inline-flex;">
      <img src="../assets/pngs/brand.png" width="70%" alt="brand" style="background-color: white; ">
    </div>

    <div (click)="open()" class="navigation">
      <i nz-icon nzType="menu" nzTheme="outline"></i>
    </div>
    
    


  </nz-header>
  <nz-layout>
    <nz-content style="margin: 0">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
  <nz-footer style="padding: 0">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>