<div>
    <h2>
        Work samples
    </h2>
</div>

<nz-card style="width: 100%;">
    <nz-tabset>
        <nz-tab class="tabs" [nzTitle]="instagram">
            <ng-template #instagram>
                <i nz-icon nzType="instagram" nzTheme="outline"></i> Instagram 
            </ng-template>
            <div class="tabs">
                <app-instagram></app-instagram>
            </div>
        </nz-tab>
        <nz-tab [nzTitle]="facebook">
            <ng-template #facebook>
                <i nz-icon nzType="facebook" nzTheme="outline"></i> Facebook 
            </ng-template>
            <div class="tabs">
                <app-instagram></app-instagram>
            </div>
        </nz-tab>
        <nz-tab class="tabs" [nzTitle]="linkedin">
            <ng-template #linkedin>
                <i nz-icon nzType="linkedin" nzTheme="outline"></i> LinkedIn 
            </ng-template>
            <div class="tabs">
                <app-instagram></app-instagram>
            </div>
        </nz-tab>
      </nz-tabset>
  </nz-card>